<!DOCTYPE html>
<html>
  <head>
    <title>Reddit</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>

  <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">REDDIT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
              <li><%= link_to 'Submit link', new_link_path %></li>
              <li><%= link_to 'Account', edit_user_registration_path %></li>
              <li><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
            </ul>
          </div>
        </nav>
      

 
    <div id="main_content" class="content">

    <% flash.each do |name, msg| %> 
  	 <%= content_tag(:div, msg, class: "alert alert-#{name}")%>
  	<%end%>

    <div id="container" class="col-md-9 center-block">

    <%= yield %>
  </body>
</html>
